<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>zxin - 12780 Term Project</title>
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/font-awesome.css">
	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="stylesheet" href="/static/css/jquery.bxslider.css">
	<script src="/static/js/modernizr.custom.js"></script>
</head>
<body>
	<div class="loader">
		<div class="project-loader">
			<div class="bubblingG">
				<span id="bubblingG_1"></span>
				<span id="bubblingG_2"></span>
				<span id="bubblingG_3"></span>
			</div>
		</div>
	</div>
	<div class="loading" id="wrapper">
		<!-- Fixed navbar -->
		<div class="navbar navbar-smak navbar-fixed-top " id="navbar" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
					<a class="navbar-brand animate" href="#"><img src="/static/img/batman-logo.png" alt="logo1"></a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right animate">
						<li><a href="#home">Home</a></li>
						<li><a href="#services">Services</a></li>
						<li><a href="#portfolio">Portfolio</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
		<div style="position: fixed; z-index: -99; width: 100%; height: 100%"></div>
		<section id="home" class="home home-fullscreen">
			<div class="slide text-slider-wrapper">
				<div class="container">
					<ul class="text-slider clearfix">
						<li class="clearfix">
							<span class="lead">BRANDING HAVE ANOTHER DEFINITION</span>
							<a href="#contact" class="btn btn-primary outline-outward">Contact us now</a>
						</li>
						<li class="clearfix">
                            <span class="lead">Easy deployment even for non-developers</span>
                            <a href="#contact" class="btn btn-primary outline-outward">Contact us now</a>
                        </li>
						<li class="clearfix">
							<span class="lead">Lower cost tailored for your small business</span>
							<a href="#contact" class="btn btn-primary outline-outward">Contact us now</a>
						</li>
					</ul>
				</div>
			</div>
			<a href="#services" class="go-to godown">
				<span>
					<span class="fa fa-angle-double-down fa-2x"></span>
					<span class="fa fa-angle-double-down fa-2x"></span>
					<span class="fa fa-angle-double-down fa-2x"></span>
					<span class="fa fa-angle-double-down fa-2x"></span>
					<span class="fa fa-angle-double-down fa-2x"></span>
				</span>
			</a>
		</section>
		<section id="services" class="gray">
			<div class="container pad-bot-50">
				<div class="heading">
					<div>Our services</div>
					<h1>What we love to do</h1>
					<div class="divider"><span></span></div>
					<p>
                        Our platform provide a series of simple solutions for your awesome game application.
                    </p>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<div class="service-item fadeInDown">
							<div class="circle circle-l"><i class="fa fa-css3 fa-3x"></i></div>
							<h3>Web design</h3>
							<p class="font-m">Universal templates offered for most of games you designed.</p>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="service-item fadeInUp">
							<div class="circle circle-l"><i class="fa fa-pencil fa-3x"></i></div>
							<h3>Graphic Gallery</h3>
							<p class="font-m">Large collection of material-design picture material included</p>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="service-item fadeInDown">
							<div class="circle circle-l"><i class="fa fa-camera fa-3x"></i></div>
							<h3>Developing</h3>
							<p class="font-m">
                                Only minimal code modification required to use the platform and to deploy your application.
                            </p>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="service-item fadeInUp">
							<div class="circle circle-l"><i class="fa fa-gear fa-3x"></i></div>
							<h3>Development</h3>
							<p class="font-m">
                                Possible for non-programmer to develop their own application to
                                deploy on our platform.
                            </p>
						</div>
					</div>
				</div>
			</div>
			<div class="branded-section process">
				<div class="masked">
					<div class="container">
						<div class="heading">
							<h1 class="primary-color">How we do it</h1>
							<p>Everything here is ready for you</p>
						</div>
						<div class="row">
							<div class="col-sm-2">
								<div class="process-item ">
									<i class="fa fa-flask fa-3x"></i>
									<h3>Analize</h3>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="process-item delay1">
									<i class="fa fa-inbox fa-3x"></i>
									<h3>Preapering</h3>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="process-item delay2">
									<i class="fa fa-gavel fa-3x"></i>
									<h3>Working</h3>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="process-item delay3">
									<i class="fa fa-flag-checkered fa-3x"></i>
									<h3>Finalize</h3>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="process-item delay4">
									<i class="fa fa-stethoscope fa-3x"></i>
									<h3>Testing</h3>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="process-item delay5">
									<i class="fa fa-truck  fa-3x"></i>
									<h3>Deliver</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="portfolio" id="portfolio">
			<div class="container">
				<div class="heading">
					<div align="center">Our references</div>
					<h1 align="center">What we have done so far</h1>
					<div class="divider"><span></span></div>
				</div>
				<div class="centered-pills">
					<ul class="nav nav-pills">
						<li class="filter" data-filter="all">
							<a href="javascript:void(0)">All</a>
						</li>
						<li class="filter" data-filter="web-design">
							<a href="javascript:void(0)">Web design</a>
						</li>
						<li class="filter" data-filter="g-design">
							<a href="javascript:void(0)">Graphic Gallery</a>
						</li>
						<li class="filter" data-filter="photography">
							<a href="javascript:void(0)">Developing</a>
						</li>
						<li class="filter" data-filter="illustraion">
							<a href="javascript:void(0)">Deployment</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="container">
				<div id="single-project"></div>
			</div>
			<div>
				<ul class="full-portfolio clearfix" id="Grid">
					<li class="mix col-xs-6 col-sm-4 col-md-3 col-lg-2 portfolio-item web-design">
						<a href="/static/ajax/project-1.html">
							<img src="/static/img/portfolio/placeholder-conn-4.jpg" class="img-responsive" alt="">
							<div class="mask">
								<h4>Connect 4</h4>
								<div class="divider"><span></span></div>
								<p class="font-m">Jackal Sin</p>
							</div>
						</a>
					</li>
					<li class="mix col-xs-6 col-sm-4 col-md-3 col-lg-2 portfolio-item g-design">
											<a href="/static/ajax/project-1.html">
							<img src="/static/img/portfolio/placeholder-conn-4.jpg" class="img-responsive" alt="">
							<div class="mask">
								<h4>Connect 4</h4>
								<div class="divider"><span></span></div>
								<p class="font-m">Jackal Sin</p>
							</div>
						</a>
                    </li>
					<li class="mix col-xs-6 col-sm-4 col-md-3 col-lg-2 portfolio-item photography">
											<a href="/static/ajax/project-1.html">
							<img src="/static/img/portfolio/placeholder-conn-4.jpg" class="img-responsive" alt="">
							<div class="mask">
								<h4>Connect 4</h4>
								<div class="divider"><span></span></div>
								<p class="font-m">Jackal Sin</p>
							</div>
						</a>
                    </li>
					<li class="mix col-xs-6 col-sm-4 col-md-3 col-lg-2 portfolio-item illustraion">
											<a href="/static/ajax/project-1.html">
							<img src="/static/img/portfolio/placeholder-conn-4.jpg" class="img-responsive" alt="">
							<div class="mask">
								<h4>Connect 4</h4>
								<div class="divider"><span></span></div>
								<p class="font-m">Jackal Sin</p>
							</div>
						</a>
                    </li>
					<li class="mix col-xs-6 col-sm-4 col-md-3 col-lg-2 portfolio-item web-design">
											<a href="/static/ajax/project-1.html">
							<img src="/static/img/portfolio/placeholder-conn-4.jpg" class="img-responsive" alt="">
							<div class="mask">
								<h4>Connect 4</h4>
								<div class="divider"><span></span></div>
								<p class="font-m">Jackal Sin</p>
							</div>
						</a>
                    </li>
					<li class="mix col-xs-6 col-sm-4 col-md-3 col-lg-2 portfolio-item g-design">
											<a href="/static/ajax/project-1.html">
							<img src="/static/img/portfolio/placeholder-conn-4.jpg" class="img-responsive" alt="">
							<div class="mask">
								<h4>Connect 4</h4>
								<div class="divider"><span></span></div>
								<p class="font-m">Jackal Sin</p>
							</div>
						</a>
                    </li>
					<li class="mix col-xs-6 col-sm-4 col-md-3 col-lg-2 portfolio-item photography">
											<a href="/static/ajax/project-1.html">
							<img src="/static/img/portfolio/placeholder-conn-4.jpg" class="img-responsive" alt="">
							<div class="mask">
								<h4>Connect 4</h4>
								<div class="divider"><span></span></div>
								<p class="font-m">Jackal Sin</p>
							</div>
						</a>
                    </li>
					<li class="mix col-xs-6 col-sm-4 col-md-3 col-lg-2 portfolio-item illustraion">
											<a href="/static/ajax/project-1.html">
							<img src="/static/img/portfolio/placeholder-conn-4.jpg" class="img-responsive" alt="">
							<div class="mask">
								<h4>Connect 4</h4>
								<div class="divider"><span></span></div>
								<p class="font-m">Jackal Sin</p>
							</div>
						</a>
                    </li>
					<li class="mix col-xs-6 col-sm-4 col-md-3 col-lg-2 portfolio-item web-design">
											<a href="/static/ajax/project-1.html">
							<img src="/static/img/portfolio/placeholder-conn-4.jpg" class="img-responsive" alt="">
							<div class="mask">
								<h4>Connect 4</h4>
								<div class="divider"><span></span></div>
								<p class="font-m">Jackal Sin</p>
							</div>
						</a>
                    </li>
					<li class="mix col-xs-6 col-sm-4 col-md-3 col-lg-2 portfolio-item g-design">
											<a href="/static/ajax/project-1.html">
							<img src="/static/img/portfolio/placeholder-conn-4.jpg" class="img-responsive" alt="">
							<div class="mask">
								<h4>Connect 4</h4>
								<div class="divider"><span></span></div>
								<p class="font-m">Jackal Sin</p>
							</div>
						</a>
                    </li>
					<li class="mix col-xs-6 col-sm-4 col-md-3 col-lg-2 portfolio-item photography">
											<a href="/static/ajax/project-1.html">
							<img src="/static/img/portfolio/placeholder-conn-4.jpg" class="img-responsive" alt="">
							<div class="mask">
								<h4>Connect 4</h4>
								<div class="divider"><span></span></div>
								<p class="font-m">Jackal Sin</p>
							</div>
						</a>
                    </li>
					<li class="mix col-xs-6 col-sm-4 col-md-3 col-lg-2 portfolio-item illustraion">
											<a href="/static/ajax/project-1.html">
							<img src="/static/img/portfolio/placeholder-conn-4.jpg" class="img-responsive" alt="">
							<div class="mask">
								<h4>Connect 4</h4>
								<div class="divider"><span></span></div>
								<p class="font-m">Jackal Sin</p>
							</div>
						</a>
                    </li>
				</ul>
			</div>
			<div class="container">
				<div class="heading">
					<h1>Do you like our portfolio?</h1>
					<p>Customize your own app with us. Take the action now.</p>
				</div>
				<div style="text-align:center; margin-bottom: 50px">
					<a href="#contact" class="btn btn-primary">Contact Us</a>
				</div>
			</div>
		</section>
		<section id="contact" class="gray">
			<div class="container">
				<div class="heading">
					<div>Contact Us</div>
					<h1>Where you can find us</h1>
					<div class="divider">
						<span></span>
					</div>
					<p>The only thing we offered you is what we got the best.</p>
				</div>
				<div class="row">
					<div class="col-md-4 adress-element ">
						<i class="fa fa-home fa-2x"></i>
						<h3>Our address</h3>
						<span class="font-l">5000 Forbes Ave, Pittsburgh, PA 15213</span>
					</div>
					<div class="col-md-4 adress-element delay2">
						<i class="fa fa-comment fa-2x"></i>
						<h3>Our mail</h3>
						<span class="font-l">zxin@andrew.cmu.edu</span>
					</div>
					<div class="col-md-4 adress-element delay4">
						<i class="fa fa-phone fa-2x"></i>
						<h3>Our phone</h3>
						<span class="font-l">+1 (412)-551-2612</span>
					</div>
				</div>
			</div>
			<div class="branded-section contact-form">
				<div class="masked">
					<div class="container">
						<div class="heading">
							<h1 class="light-font">Send us a message</h1>
							<p class="light-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et viverra ipsum.</p>
						</div>
						<form class="form-horizontal">
							<div class="form-group">
								<div class="col-sm-4" style="position:relative">
									<input type="text" id="memo-name" name="Name" data-new-placeholder="What is your name?" class="form-control label_better" placeholder="Name">
								</div>
								<div class="col-sm-4">
									<input type="text" id="memo-email" name="Email" class="form-control label_better" placeholder="Email">
								</div>
								<div class="col-sm-4">
									<input type="text" id="memo-phone" name="Phone" class="form-control label_better" placeholder="Phone 1234567890 or 123-456-7890">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<textarea id="memo-text" class="form-control label_better" placeholder="Your comment.." rows="7"></textarea>
								</div>
							</div>
							<div class="form-group commands">
								<button class="btn btn-primary" onclick="sendMemo()" type="button">Send message</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<div class="container">
				<p>&copy; Copyright <a href="#home">introduction-to-python.cmu.com</a> All rights reserved</p>
				<ul class="social-list">
					<li class="facebook">
						<a href="https://www.facebook.com/checkwhei.sin"><i class="fa fa-facebook"></i></a>
					</li>
					<li class="twitter">
						<a href="https://twitter.com/jackalsin"><i class="fa fa-twitter"></i></a>
					</li>
					<li class="youtube">
						<a href="https://www.youtube.com/channel/UCCXOYqGY3vCApfyUq8auGHw"><i class="fa fa-youtube"></i></a>
					</li>
				</ul>
				<a href="#home" class="square-l goup" style="position: relative">
					<span>
						<span class="fa fa-angle-double-up fa-2x"></span>
						<span class="fa fa-angle-double-up fa-2x"></span>
						<span class="fa fa-angle-double-up fa-2x"></span>
						<span class="fa fa-angle-double-up fa-2x"></span>
						<span class="fa fa-angle-double-up fa-2x"></span>
					</span>
				</a>
			</div>
		</footer>
	</div>
	<!-- Load all jsavascrip files -->
    <script type="text/javascript" src="/static/js/mainFunc.js"></script>
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>
	<script type="text/javascript" src="/static/js/jquery.bxslider.js"></script>
	<script type="text/javascript" src="/static/js/jquery.label_better.js"></script>
	<script type="text/javascript" src="/static/js/jquery.mixitup.js"></script>
	<script type="text/javascript" src="/static/js/jquery.easypiechart.js"></script>
	<script type="text/javascript" src="/static/js/jquery.inview.js"></script>
	<script type="text/javascript" src="/static/js/countUp.js"></script>
	<script type="text/javascript" src="/static/js/main.js"></script>
	<script src="/static/js/grid.js"></script>
	<script>
	$(function() {
		Grid.init();
	});
	</script>
</body>
</html>